.nav-link {
    color: #666666;
}

h2 {
    color: #666666;
}

#socialmedia {
    text-align: center;
}

#connect {
    text-align: center;
}

#logo {
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}